@media only screen and (min-width: 758px) and (max-width: 1024px) {
   
/* ------------------------------------------------------------------------------------ Header style (RESPONSIVE MENU)--------------------------------------------------------- */

.fa-bars{
    margin-bottom: 2.5rem;
    font-size: 30px;
    height: 25px;
  }
  
  
  .linksMenu {
    width: 40%;
    transform: translateX(60vw);
  }
  
  
  .navOptBtn {
    height: 3rem;
  }
  
  .xtrFtr {
    cursor: pointer;
  }
  
  .flag{
    width: 70px;
    height: 40px;
  }
  
  .link {
    font-size: 30px;
    font-weight: bold;
  }
  
  .fa-sun{
     font-size: 30px;
  }
  
  .fa-moon{
    font-size: 30px;
 
  }
 
  .fa-circle-xmark{
    font-size: 35px;
  }

  .colorChangeContainer{
    padding: 1rem;
  }
  
  .langTheme{
    gap: 3rem;
  }
  
  .bckToHdr{
    border: 3px solid ;
    padding: .7rem;
    right: 1.5rem;
    bottom: .5rem;
  }

  .fa-hand-point-up{
    font-size: 25px;
  }
  
  /* -------------------------------------------------------------------------------- Responsive Burger Menu --------------------------------------------------------------- */
  
  /*  ========================================================== HOME ====================================== */

  .homeContainer{
    padding: 1rem;
  }
  
  .homeTitle{
    font-size: 45px;
  }

  .homeTxt1{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      top: 12rem;
      font-size: 2.5em;
  }

  @media only screen and (min-width: 820px) {
    .homeTxt1{
      /* top: 10rem; */
    }
  }

  .react-typewriter-text {
    font-size: 40px;
  }
  
  .homeLogo{
    position: absolute;
    top: 1rem;
    right: 0;
    width: 200px;
    height: 100px;
  }
  
  
  .homeTxt2{
      top: 5rem;
      gap: .5rem;
  }
  
  .homeTitle2{
    font-size: 40px;
  }
  
  .homeTitle3{
    font-size: 25px;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-image: linear-gradient(rgba(216, 212, 212, 0.068), rgba(8, 185, 255, 0.192));
    overflow-y: scroll;
  }
  
   @media only screen and (min-width: 950px) {
    .homeTxt2{
      top: 6rem;
      gap: 1.5rem;
  }
  }
  
  /* =========================================================== SKILLS  */
  .skillsContainer{
    height: 97vh;
  }

  .skillsTitle{
    font-size: 45px;
  }
  .techSkillsBox{
    width: 90%;
  }
  
  .techSkill{
    margin: 1rem 0rem 5rem;
    min-width: 680px;
    max-width: 980px;
    /* background-color: aqua; */
  }
  
  .form-check-label{
    font-size: 30px;
    font-weight: bold;
    margin-top: -15px;
  }
  
  .technologies{
    gap: 8rem;
  }

  .imgText{
    /* font-size: ; */
    gap: .8rem;
  }
  
  .techImgs{
      height: 75px;
  }
  
  @media only screen and (min-width: 950px) {
    .techImgs{
      height: 80px;
  }
  }
  

  .process{
    font-size: 1.1rem;
  }
  
  .fa-right-long{
    top: 18px;
    right: 10px;
    font-size: 25px;
  }
  
  .list{
    flex-direction: row;
    gap: 3rem;
    height: 100%;
    width: 700px;
    max-width: 980px;
  }
  
  
  .listItem{
    font-size: 40px;
  }
  .listItem2{
    font-size: 40px;
  }

  /* ====================== PROJECTS */
  
  .projectsBox{
    height: 90%;
  }
  
  .gifContainer{
    gap: 2.5rem;
    width: 95%;
  }
  
  .gifBox{
    max-width: 400px;
  }
  .projectTitle1{
    position: relative;
    font-size: 45px;
  }

  .projectTitle{
    font-size: 30px;
  }
   
  /* ==========================================================   CONTACT */
  
  .contactContainer{
    height: 90vh;
  }

  .contactTitle{
    font-size: 45px;
  }
  
  .contactImg{
    right: 0rem;
    max-width: 450px;
    top: 295vh;
  } 

  .contactBox{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
  }
  
  .formContainer{
    max-width: 650px;
    gap: .2rem;
  }

  .contactLink{
    z-index: 4;
    width: 55%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 23rem;
  }
  
  .formName{
    height: 44px;
    font-size: 20px;
  }
  
  .formEmail{
    height: 44px;
    font-size: 20px;
  }
  
  .formText{
   font-size: 20px;
  }

  
  .submit {
    margin-top: 1rem;
    width: 50%;
    background-color: orange;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
 
  
  
  .formTitle{
    font-weight: bold;
  }
  
  .contactLink{
    gap: 3rem;
  }
  
  .fa-whatsapp{
    font-size: 45px;
  }
  
  .fa-github{
    font-size: 45px;
  }
  
  .fa-file{
    font-size: 45px;
  }
  
  .fa-linkedin-in{
    font-size: 45px;
  }


  
.card {
  width: 100%;
  max-width: 700px;
  height: 60%;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  padding: -2rem 0rem 2rem;
  margin: 1rem 0rem 0rem 1rem;
}


.card {
  --bs-card-bg: #07182E; 
}

.card::before {
  width: 200px;    
  height: 950px;
}


@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background-color: #07182E;
  inset: 5px;
  border-radius: 15px;
}  


  .footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -1rem;
    /* left: -1rem; */
    /* width: 100vw; */
  }

  .footerTxt{
    text-align: right;
  }

  .footerLogo{
  width: 200px;
  height: 150px;
  }

}