@media only screen and (min-width: 1900px) {
   
  /* ------------------------------------------------------------------------------------ Header style (RESPONSIVE MENU)--------------------------------------------------------- */
  
  .links{
    height: 6rem;
  }

  .logo{
      position: absolute;
      top: -1.5rem;
      left: -2rem;
      height: 180px;
      width: 280px;
    }
   
    .linkFullS {
      font-size: 30px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      margin-left: 2.5rem;
    }
    
   
    
    .cv{
      margin-top: 1rem;
      width: 50%;
      /* background-color: orange; */
      padding: .5rem;
      border-radius: .5rem;
      margin-top: -.4rem;
      margin-left: 1rem;
    }
      

    /* -------------------------------------------------------------------------------- Responsive Burger Menu --------------------------------------------------------------- */
    
    /*  ========================================================== HOME ====================================== */
    
    .homeContainer{
      height: 93vh;
    }

    .homeLogo{
      top: 8rem;
      right: 2rem;
      width: 530px;
      height: 380px;
    }

    .homeTitle{
      font-size: 60px;
      margin-top: 1rem;
    }

    .homeTxt1{
      top: 16rem;
      font-size: 50px;
      max-width: 950px;
    }

    .homeTxt2{
      top: 6rem;
      gap: 0rem;
    }
    
    .homeTitle3{
      font-size: 35px;
      border-radius: 1rem;
      padding: .5rem 1rem;
      background-image: linear-gradient(rgba(216, 212, 212, 0.068), rgba(8, 185, 255, 0.192));
      overflow-y: hidden;
      max-width: 1500px;
      max-height: 710px;
    }
    
  
         
  }    
  